# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Dataset & Outputs
dataset/
dreambooth/
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
logs/
wandb/

# Checkpoints
*.pt
*.ckpt
*.safetensors
